body {
    background: rgb(121, 242, 121);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    margin-top: 3rem;
    margin-left: auto;
    text-decoration: none;
    border: 2px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    border-radius: 5;
}

button:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

input {
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
    padding: 0.5rem 0.5rem;
    color: black;
    text-transform: uppercase;
    border: 2px solid rgb(146, 148, 248);
    border-radius: 5;
}

form {
    display: grid;
    justify-items: end;
    justify-content: center;

    color: whitesmoke;
}